* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and borders are included in total width/height */
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
    gap: 10px;
}

.navbar__s1__title {
    color: #a435f0;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    font-size: 16px;
    width: 100%;
    padding: 5px;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 15px;
    align-items: center;
}

.categories {
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
    flex-wrap: wrap; /* Allows categories to wrap on smaller screens */
}

.categories p {
    background-color: #a435f0;
    color: white;
    padding: 5px;
    border-radius: 30px;
}

.sale-image img {
    width: 100%;
    height: auto; /* Maintains aspect ratio */
}

.recommended {
    padding: 10px;
}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.course-card {
    width: 350px;
    margin: 10px; /* Adds space between cards */
}

.course-card img {
    height: 60%;
    width: 100%;
}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p {
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular {
    padding: 10px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer {
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one {
    display: flex;
    gap: 10px;
}

.footer__two {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}